<h1>Proyecto Final - Dandrade Santiago Damian</h1>

<div>
  <form action="/products" method="get" style="display:inline;">
    <button type="submit">Ver Productos</button>
  </form>

  <form action="/realtimeproducts" method="get" style="display:inline;">
    <button type="submit">Realtime Productos</button>
  </form>
</div>